<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tasha's Trinkets</title>
  </head>
  <body>
    <div class="accountNavBar">
      <ul class="accountNavMenu">
        <li class="accountNavItem">
          <a href="/" class="accountNavLink">Home</a>
        </li>
        <li class="accountNavItem">
          <a href="/account/login" class="accountNavLink">Login</a>
        </li>
        <li class="accountNavItem">
          <a href="/account" class="accountNavLink">Account</a>
        </li>
        <li class="accountNavItem">
          <a href="/cart" class="accountNavLink">Cart</a>
        </li>
      </ul>
    </div>
    <div class="mainContainer">
      <div class="topnavbar"></div>
      <div class="navbar">
        <a href="/" id="navBarLogo"><i class="fa-solid"></i> Tasha's Trinkets</a>
        <div class="navBarToggle" id="mobileMenu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navBarMenu">
          <li class="navBarItem">
            
            <a href="/products/armor" class="navBarLinks"><i id = "icon" class="fa-solid fa-hat-wizard"></i><p class = "navWords">Armor and Clothing</p></a>
          </li>
          <li class="navBarItem">
            <a href="/products/potions" class="navBarLinks"><i id = "icon"class="fa-solid fa-flask"></i></i><p class = "navWords">Potions</p></a>
          </li>
          <li class="navBarItem">
            <a href="/products/rings" class="navBarLinks"><i id = "icon"class="fa-solid fa-ring"></i><p class = "navWords">Rings</p></a>
          </li>
          <li class="navBarItem">
            <a href="/products/foci" class="navBarLinks"><i id = "icon"class="fa-solid fa-wand-magic"></i><p class = "navWords">Magical Foci</p></a>
          </li>
          <li class="navBarItem">
            <a href="/products/weapons" class="navBarLinks"><i id = "icon"class="fa-solid fa-khanda"></i><p class = "navWords">Weapons</p></a>
          </li>
          <li class="navBarItem">
            <a href="/products/wondrousitems" class="navBarLinks"><i id = "icon"class="fa-solid fa-broom-ball"></i><p class = "navWords">Wondrous Items</p></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
    <script src="https://kit.fontawesome.com/985c22d306.js" crossorigin="anonymous"></script>

  
</html>
