<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tasha's Trinkets</title>
  </head>
  <body>
    <div class="accountNavBar">
      <ul class="accountNavMenu">
        <li class="accountNavItem">
          <a href="" class="accountNavLink">Home</a>
        </li>
        <li class="accountNavItem">
          <a href="" class="accountNavLink">Login</a>
        </li>
        <li class="accountNavItem">
          <a href="" class="accountNavLink">Account</a>
        </li>
        <li class="accountNavItem">
          <a href="" class="accountNavLink">Cart</a>
        </li>
      </ul>
    </div>
    <div class="mainContainer">
      <div class="topnavbar"></div>
      <div class="navbar">
        <a href="" id="navBarLogo"><i class="fa-solid"></i> Tasha's Trinkets</a>
        <div class="navBarToggle" id="mobileMenu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="navBarMenu">
          <li class="navBarItem">
            <a href="" class="navBarLinks">Armor and Clothing</a>
          </li>
          <li class="navBarItem">
            <a href="" class="navBarLinks">Potions</a>
          </li>
          <li class="navBarItem">
            <a href="" class="navBarLinks">Rings</a>
          </li>
          <li class="navBarItem">
            <a href="" class="navBarLinks">Magical Foci</a>
          </li>
          <li class="navBarItem">
            <a href="" class="navBarLinks">Weapons</a>
          </li>
          <li class="navBarItem">
            <a href="" class="navBarLinks">Wondrous Items</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
