*{
    font-family: 'Teko', sans-serif;
    font-size: 20px;

}
body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/753/719/749/artwork-digital-art-concept-art-dungeons-and-dragons-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.logIn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 112vh;
}
.container{
    width: 350px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    background-color:rgba(255,255,255,0.7) ;
    height: 700px;
    border-radius: 30px;
}

header{
    display: flex;
    font-size: 30px; 
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field .input{
    gap: 10px;
    margin-top: 5px;
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: rgb(31,14,53);
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.5);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: rgb(31,14,53);
}
.submit{
    border: none;
    margin-top: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 50%;
    color: black;
    background-color: rgb(31,14,53,0.7) ;
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

label a{
    text-decoration: none;
    color: #fff;
}
.input-field{
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}
form{
    gap: 5px;
}

.member{
    color:rgb(31,14,53,0.7)
}
.memberLabel{
    text-align: center;
}

.updateButton{
    border: none;
    margin-top: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 25px;
    outline: none;
    width: 100%;
    color: black;
    background-color: rgba(63, 136, 88, 0.7) ;
    cursor: pointer;
    transition: .3s ;
}

.deleteAccount{
    border: none;
    margin-top: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 50%;
    color: black;
    background-color: rgba(231, 14, 14, 0.7) ;
    cursor: pointer;
    transition: .3s ;
}
.signOut{
    border: none;
    margin-top: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background-color: rgba(231, 14, 14, 0.7) ;
    cursor: pointer;
    transition: .3s ;
}

.deleteAccountA{
    border: none;
    margin-top: 5px;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background-color: rgba(231, 14, 14, 0.7) ;
    cursor: pointer;
    transition: .3s ;
}
form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:500px){
    body{
        width: 100%;
    }
    
        .slogan{
            font-size: 30px;
            text-align: center;
            background-image: url("https://elements-video-cover-images-0.imgix.net/files/9bb5a313-72f8-431e-a674-fb1f3e56b5ce/inline_image_preview.jpg?auto=compress&crop=edges&fit=crop&fm=jpeg&h=800&w=1200&s=9b8d4a5bf3d6265d428badc39bdafa05");
            color: gold;
            margin: 0;
            height: 5vh;
            align-items: center;
            place-content: center;
            box-shadow: 20px 20px 50px 50px rgb(31,14,53) ;
        }
        .navWords{
            display: none;
            align-items: center;
        }
        #icon{
            display: block;
        }
        .mainWeaponBox{
            display:flex;
            flex-wrap: wrap;
            gap: 1rem;
            height: 100%;
            width: 100%;
            text-align: center;
        }
        .weaponCard{
            max-width:300px;
            border: 2px solid black;
            margin-top: 10px;
            overflow: hidden;
            overflow:auto;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            
         }
}