.armorsHome{
    width: 100%;
}
.homeMain{
    width: 100%;
}
@media all and (max-width:500px){
    body{
        width: 390px;
    }
    #accountNavMenu{

    }
    .armorsHome img{
        height: 100%;
        width: 100%
        
    }
    
}