*{
    font-family: 'Teko', sans-serif;

}
body{
    background-image: url("https://img.myloview.com/stickers/vintage-paper-texture-background-grunge-old-retro-rustic-cardboard-brown-empty-blank-space-page-with-fiber-pattern-of-kraft-paper-for-text-creative-backdrop-wallpaper-400-238275219.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#navBarLogo{
background-image: linear-gradient(to top, rgb(31,14,53) 0%, rgb(210,125,235) 100%);
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
font-size: 27px;
width: 200px;
}

.navBarItem{
    height: 80px;
    width: 100%;  
}

.navBarLinks{
    color: #F0EAD6;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.mainContainer{
 justify-content: space-between;  
 height: 80px; 
 z-index: 1;
 width: 100%;
 margin: 0 auto;
 
 border-radius: 15px
    ;
    box-sizing: 0 0 8px 8px black ;
}

.navbar{
    background:#222;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

}

.navBarContainer{
    position: sticky;
 display: flex;
 justify-content: space-between;  
 height: 80px; 
 z-index: 1;
 width: 100%;
 max-width: 1300px;
 margin: 0 auto;
 padding: 0 50px;
 border-radius: 15px
    ;
    box-sizing: 0 0 8px 8px black ;
}

.navBarMenu{
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    text-align:center
}
/* account nav bar */
.accountNavBar{
    color: #F0EAD6;
    text-decoration: none;
    align-content: right;
    ;
}
.accountNavItem{
    display: contents
}
.accountNavLink{
    color: gold;
    background-color: rgb(31,14,53);
    font-size: 1.5rem;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    border-radius: 10px;
}
.accountNavMenu{
    align-items: center;
    list-style: none;
    text-align:right;
    background-color: #222;
    border: none;
}



/* footer page */
.footerMain{
    position: fixed;
    text-decoration: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: rgb(31,14,53);
    text-align: left;
}
.footerItem{
    list-style: none;
    text-decoration: none;
}
.footerLink{
    color: black;
    font-size: 1.5rem;
    align-items: left;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* weapon page */
.mainWeaponBox{
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    width: 100%;
}
.weaponCard{
   max-width:300px;
   border: 2px solid black;
   margin-top: 10px;
   overflow: hidden;
   overflow:auto;
   margin-left: 5px;
   
}
.weaponCard::-webkit-scrollbar {
    display: none;
}


.weaponPic{
   max-width: 300px;
   max-height: 500px;
}
.rare{
    text-align: center;
    font-size: 20px;
}
.quip{
    text-align: center;
    font-size: 40px;
}
body{
    margin: 0;
}
ul{
    margin: 0;
}


/* home page css */
.homeMain{
    display: grid;
    grid-template-areas:
    "pic1 pic2"
    "header header"
    "pic3 pic4"
}
.slogan{
    text-align: center;
}

.armors{
    display: grid;
    align-items: center;
    text-align: left;
    width: fit-content;
}
.armorsName{
    padding-left: 192px;
    font-size: 50px;
    margin: 0;
}
.armorsPic{
    width: 50%;
    margin-left: 146px ;
    border-radius: 20px;
}
.potionPic{
    width: 50%;
   margin-left: 146px ;
    height: 218px;
    border: none;
    border-radius: 20px;
}
.potionName{
    padding-left: 245px;
    font-size: 50px;
    margin: 0;
    
}

.middleHeadPic{
    grid-area: header;
}