<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../account.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <title id="title">Account</title>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <div class="logIn">
      <div id="container" class="container">
        <div class="top">
          <header><%= user.username %>'s Account</header>
          <label class="memberLabel">Make changes to your account here</label>
        </div>
        <form action="/modifyAccount" method="post">
          <div class="input-field">
            <input class="input" name="uemail" placeholder="Email" />
            <button type="submit" class="updateButton">Update</button>
          </div>
          <div class="input-field">
            <input class="input" name="uusername" placeholder="Username" />
            <button type="submit" class="updateButton">Update</button>
          </div>
          <div class="input-field">
            <input class="input" name="upassword" placeholder="Password" />
            <button type="submit" class="updateButton">Update</button>
          </div>
          <div class="input-field">
            <input
              class="input"
              name="upaymentinfo"
              placeholder="Payment Info"
            />
            <button type="submit" class="updateButton">Update</button>
          </div>
          <div class="input-field">
            <input class="input" name="uaddress" placeholder="Address" />
            <button type="submit" class="updateButton">Update</button>
          </div>
        </form>

        <!-- delete account -->
        <form action="/deleteAccount" method="post">
          
            <button type="submit" class="deleteAccountA">Delete account</button>
          
        </form>
        <!-- sign out -->
        <form action="/logout" method="post">
          <button type="submit" class="signOut">Sign out</button>
        </form>
      </div>
    </div>
  </body>
</html>
