<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <main>
      <%- include('../partials/navbar'); %>
      <h1 class = slogan>Pick from the best goods in the land</h1>
      <div class="homeMain">
        <div class="armors">
            <h2 class = armorsName>Armors & Clothing</h2>
            <img class = armorsPic src="https://i0.wp.com/www.hipstersanddragons.com/wp-content/uploads/2022/12/armour-5e-one-dnd.jpg?fit=640%2C425&ssl=1" alt="">
        </div>
        <div class="potions">
            <h2 class = potionName>Potions</h2>
            <img class = potionPic src="https://steamuserimages-a.akamaihd.net/ugc/1491208263877771882/A3CB56DF732E34AC887664B8F02A706597D9732D/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="">
        </div>
        <div class="middleHeadPic">
            <img src="https://i.pinimg.com/736x/7f/23/aa/7f23aa2d62587dd67c9ebd7ca0e87605--french-words-dice.jpg" alt="">
        </div>
      </div>

    </main>
  </body>
</html>
