<!DOCTYPE html>
<html lang="en">
  <body class="container">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="../home.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
    <main>
      <%- include('../partials/navbar'); %>
      <h1 class = slogan>Pick from the best goods in the land</h1>
      <div class="homeMain">
        <div class="armorsHome">
            <img src="https://m.media-amazon.com/images/I/A1TiAna+j+L.jpg" alt="it's broken">
        </div>
      </div>

    </main>
  </body>
</html>
