<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title id="title">login</title>
  </head>
  <body>
    <div class="logIn">
      <div id="container" class="container">
        <div class="modalinvalid">
            <p>Email provided is invalid</p>
          </div>
          <div class="modalEmpty">
            <p>Empty Field Username/Password</p>
          </div>
        <div class="top">
          <header>Login</header>
          <label class="memberLabel" for="">Not A Member? <a class = "member"href = "/signUp">Click here</a></label>
        </div>
        <div class="input-field">
          <input class="input" placeholder="Username" id="" />
        </div>
        <div class="input-field">
          <input class="input" placeholder="Password" id="" />
        </div>
        <div class="input-field">
            <button type="submit"  id = "signInForm" class="submit" value="Login">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>  
</body>
<script>
  // Get the modal
var modalinvalid = document.getElementById("modalRepeat");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modalinvalid.style.display = "flex";
  modalinvalid.style.height = "316px"
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalinvalid) {
    modalinvalid.style.display = "none";
  }
}

var modalEmpty = document.getElementById("modalRepeat");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modalEmpty.style.display = "flex";
  modalEmpty.style.height = "316px"
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalEmpty) {
    modalEmpty.style.display = "none";
  }
}
</script>
</html>
