<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../login.css" />
    <title id="title">Login</title>
    <link rel="stylesheet" href="../style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  </head>
  
  <body class = "body1">
    <main>
    <%- include('../partials/navbar'); %>
    <div class="logIn">
      <div id="container" class="container">
        
        <% if (typeof modal !== 'undefined'){ %>
          <div class="modal">
              <p> <%= modal %> </p>
            </div>
            <% }%>
        <div class="top">
          <header>Login</header>
          <label class="memberLabel" for="">Not A Member? <a class = "member"href = "/account/signup">Click here</a></label>
        </div>
        <form action="/account/login" method="post">
          <div class="input-field">
            <input class="input" name="username" placeholder="Username" id="" />
          </div>
          <div class="input-field">
            <input class="input" name="password" placeholder="Password" id="" />
          </div>
          <div class="input-field">
            <button type="submit" id = "signInForm" class="submit" value="Login">Login</button>
          </div>
        </form>
          <div class="input-field">
            <form action="/account/guestLogIn" method="post">
            <button type="submit" id = "signInForm" class="guest" value="Login">Sign in as guest</button>
            </form>
          </div>
      </div>
    </div>
  </form>
</div> 
</main> 
</body>
</html>
