<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title id="title">login</title>
  </head>
  <body>
    <div class="logIn">
      <div id="container" class="container">
        <div class="top">
          <header>Login</header>
        </div>
        <div class="input-field">
          <input class="input" placeholder="Username" id="" />
        </div>
        <div class="input-field">
          <input class="input" placeholder="Password" id="" />
        </div>
        <div class="input-field">
          <button id="signUpButton" class="submit">Sign Up</button>
          <button id="logInButton" class="submit">Log In</button>
        </div>
      </div>
    </div>
  </body>
</html>
