<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
    <title id="title">login</title>
  </head>
  <body>
    <div class="logIn">
      <div id="container" class="container">
        <div class="modalRepeat">
            <p>You are a repeat User </p>
          </div>
          <div class="modalEmpty">
            <p>Empty field must fill out all.</p>
          </div>
        <div class="top">
          <header>Sign Up</header>
          <label class="memberLabel" for="">Already a Member? <a class = "member"href = "/login">Click here</a></label>
        </div>
        <form action="/signup" method="post">
          <div class="input-field">
            <input class="input" name="email" placeholder="Email" id="" />
          </div>
          <div class="input-field">
            <input class="input" name="username" placeholder="Username" id="" />
          </div>
          <div class="input-field">
            <input class="input" name="password" placeholder="Password" id="" />
          </div>
          <div class="input-field">
            <label for="">Input your payement information below. All major credit cards and ancient wyrms of Toril accepted. Tasha's Trinkets delivers to Oerth, Toril, Krynn, Khorvaire, and Barovia. </label>
            <input class="input" name="paymentinfo" placeholder="Payment Info" id="" />
          </div>
          <div class="input-field">
            <input class="input" name="address" placeholder="Address" id="" />
          </div>
          <div class="input-field">
            <button type="submit" id = "signInForm" class="submit" value="Login">Finalize</button>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>  
</body>
<script>
  // Get the modal
var modalRepeat = document.getElementById("modalRepeat");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modalRepeat.style.display = "flex";
  modalRepeat.style.height = "527px"
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalRepeat) {
    modalRepeat.style.display = "none";
  }
}

var modalEmpty = document.getElementById("modalRepeat");

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modalEmpty.style.display = "flex";
  modalEmpty.style.height = "527px"
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modalEmpty) {
    modalEmpty.style.display = "none";
  }
}
</script>
</html>