<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
    <title id="title">login</title>
  </head>
  <body>
    <div class="logIn">
      <div id="container" class="container">
        <div class="top">
          <header>Sign Up</header>
          <label class="memberLabel" for="">Already a Member? <a class = "member"href = "/login">Click here</a></label>
        </div>
        <div class="input-field">
          <input class="input" placeholder="Email" id="" />
        </div>
        <div class="input-field">
          <input class="input" placeholder="Username" id="" />
        </div>
        <div class="input-field">
            <input class="input" placeholder="Password" id="" />
          </div>
          <div class="input-field">
            <label for="">Input Dragon Payement Info</label>
            <input class="input" placeholder="Payement Info" id="" />
          </div>
          <div class="input-field">
            <input class="input" placeholder="Address" id="" />
          </div>
        <div class="input-field">
            <button type="submit"  id = "signInForm" class="submit" value="Login">Finalize</button>
        </div>
      </div>
    </div>
  </form>
</div>  
</body>
</html>